body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-family:'Open Sans', sans-serif;
  color: #7370ff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.topnav {
  padding-top: 19px;
  padding-bottom: 18px;
  background-color: #8c00b3;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
}
.topnav.w--open {
  background-color: #ae6dcf;
}
.topnavopen {
  background-color: #ae6dcf;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 300;
}
.topnavopen.w--open {
  background-color: #d7a0f2;
}
.menucontainer {
  background-color: #8c00b3;
}
.user {
  position: static;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  margin: 25px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  border: 20px solid #f08811;
  border-radius: 200px;
}

  body {
    background-color: white;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    font-family:'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
  }
  h1 {
    display: block;
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    color: #914394;
    font-weight: 600;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  h2 {
    margin-top: 12px;
    font-family: Montserrat, sans-serif;
    color: #914394;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
  }
  h3 {
    margin-right: 25px;
    margin-left: 25px;
    font-family:'Open Sans', sans-serif;
    color: #914394;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
  }
  h4 {
    margin-top: 24px;
    margin-right: 25px;
    margin-left: 25px;
    font-family:'Open Sans', sans-serif;
    color: #914394;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  h5 {
    margin-top: 36px;
    margin-bottom: -1px;
    padding-bottom: 0px;
    color: #914394;
    text-align: center;
  }
  h6 {
    position: static;
    margin: 0px auto;
    padding: 0px;
    float: right;
    font-family:'Open Sans', sans-serif;
    color: #914394;
    font-size: 15px;
    font-weight: 400;
    text-align: right;
  }
  p {
    padding-right: 20px;
    padding-left: 20px;
    color: #914394;
    font-weight: 400;
    text-align: center;
  }
  .button {
    display: block;
    width: 280px;
    height: 56px;
    margin: 28px auto 13px;
    padding: 0px;
    background-color: #914394;
    font-size: 16px;
    line-height: 44px;
    font-weight: 700;
  }
  .button.settingbuttons {
    position: static;
    display: block;
    width: 280px;
    height: 56px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 13px;
    float: none;
    background-color: #b000e0;
    font-family:'Open Sans', sans-serif;
    line-height: 54px;
    text-align: left;
    letter-spacing: 1px;
    text-indent: 0px;
  }
  .button.delete {
    position: relative;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    margin: 0px 73px -19px 0px;
    float: right;
    clear: none;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.72);
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
  }
  .button.chore-points {
    position: relative;
    left: auto;
    top: auto;
    display: block;
    overflow-x: visible;
    overflow-y: visible;
    width: 75px;
    height: 30px;
    margin: -14px 0px 0px 48px;
    float: left;
    border-radius: 7px;
    background-color: #6a016e;
    line-height: 29px;
    font-weight: 600;
    text-indent: 0px;
  }
  .topnav {
    margin-top: 0px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .user {
    margin: 10px auto;
    float: none;
    border-width: 10px;
  }
  .smallcircle {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    border: 3px solid #6929ff;
    border-radius: 40px;
    background-color: #af28d4;
  }
  .smallcircle.profilepicture {
    margin-top: 35px;
    margin-left: 0px;
    float: right;
    border-width: 5px;
    border-color: #171ca3;
  }
  .smallcircle.homepictures {
    margin-left: auto;
    float: left;
    clear: none;
  }
  .smallcircle.chorepictures {
    border-radius: 0px;
  }
  .chorehome {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #690165;
    border-radius: 3px;
    background-color: #b000e0;
  }
  .loginpicture {
    display: block;
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
  }
  .forminputs {
    display: block;
    width: 280px;
    height: 56px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #914394;
    background-color: transparent;
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
  }
  .forminputs.emailgorm {
    margin-top: 47px;
  }
  .loginbutton {
    position: static;
    display: block;
    width: 280px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 6px;
    background-color: #914394;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .loginbutton.app-buttons {
    padding-right: 2px;
    background-color: #b000e0;
  }
  .signupbutton {
    display: block;
    width: 280px;
    height: 56px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #914394;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .addpicture {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    border-radius: 100px;
    background-color: #00a619;
  }
  .addpicture.addpicture-button {
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: -37px;
    margin-right: 0px;
    margin-left: 216px;
    float: left;
    clear: both;
    font-size: 26px;
    line-height: 25px;
  }
  .homepicture {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .firstpages {
    margin-top: 0px;
    padding-top: 0px;
    background-color: white;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .choreform {
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-family:'Open Sans', sans-serif;
    color: white;
    font-weight: 300;
  }
  .chorefieldtitle {
    font-weight: 400;
  }
  .chorebutton {
    float: right;
    background-color: #b000e0;
    font-size: 14px;
  }
  .chorebutton.add-chore-button {
    width: 100px;
    height: 45px;
    margin-top: 2px;
  }
  .message {
    margin: 35px 25px -31px;
    padding-left: 0px;
    background-color: white;
    color: #914394;
    font-weight: 600;
    text-align: center;
  }
  .forgotlink {
    position: relative;
    display: block;
    overflow-x: visible;
    overflow-y: visible;
    margin-right: auto;
    margin-left: auto;
    color: #914394;
    font-size: 10px;
    text-align: center;
  }
  .loginscreen {
    margin: 32px auto 0px;
    padding-bottom: 12px;
    background-color: #914394;
    text-align: center;
  }
  .choreblock {
    margin-top: 30px;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 10px;
  }
  .profilepicture.roommate1 {
    float: none;
  }
  .uchoreblockser {
    border: 6px solid #914394;
  }
  .uchorepicture {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 17px;
    margin-left: 34px;
    padding: 5px;
    float: none;
    clear: none;
    border: 3px solid #5b0b7d;
    border-radius: 0px;
    background-color: #af28d4;
  }
  .uchorepicture.chorepicture {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 5px;
    float: right;
    clear: none;
  }
  .duedate {
    margin-right: 0px;
    margin-left: 116px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    color: white;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
  }
  .choretext {
    margin-top: -71px;
    margin-right: 13px;
    margin-left: 12px;
    padding-left: 0px;
  }
  .completechore {
    position: relative;
    top: 0px;
    right: 0px;
    display: block;
    width: 24px;
    margin: 0px 0px 0px -26px;
    float: right;
    clear: none;
    border-radius: 108px;
    background-color: #787878;
  }
  .completechore.user-schores {
    display: inline-block;
    margin-top: -52px;
    margin-left: -24px;
    float: none;
  }
  .chorecomplete {
    position: static;
    display: block;
    width: 150px;
    height: 150px;
    margin-top: 42px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 10px 9px;
    border: 5px solid #7a1270;
    border-radius: 0px;
    background-color: #af28d4;
  }
  .aboutparagraph {
    margin-top: 17px;
    color: #914394;
  }
  .choreimage {
    display: block;
    margin-top: -10px;
    margin-right: auto;
    margin-left: auto;
    padding: 7px;
    clear: both;
    border: 3px solid #8f008a;
    background-color: #af28d4;
  }
  .backbutton {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .chore1 {
    display: block;
    margin-top: 41px;
    margin-right: 64px;
    float: right;
    clear: both;
    color: #914394;
  }
  .chore1.chore2title {
    margin-top: 45px;
    margin-right: 112px;
  }
  .quickadd {
    margin-top: 17px;
    float: right;
  }
  .addchoreimage {
    display: block;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  .dropdown {
    border: 1px solid #914394;
  }
  .homesettingslabel {
    padding-bottom: 0px;
    padding-left: 16px;
    color: #914394;
    font-size: 21px;
    font-weight: 400;
  }
  .quickcomplete {
    width: 25px;
    margin-top: -67px;
    margin-left: -4px;
    float: none;
    clear: none;
  }
  .qclb {
    margin-top: -7px;
    margin-right: -90px;
    margin-bottom: 0px;
    float: right;
  }
  .chore2 {
    margin-top: 13px;
    margin-right: 15px;
  }
  .profilepictureforcurrent {
    position: relative;
    right: 0px;
    bottom: 0px;
    display: block;
    overflow-x: visible;
    overflow-y: visible;
    margin-top: -32px;
    margin-right: 60px;
    margin-bottom: 19px;
    float: right;
    clear: none;
    border: 3px solid #f60;
    border-radius: 100px;
  }
  .profilepictureforcurrent.user2 {
    border-color: #6522b3;
  }
  .profilepictureforcurrent.user3 {
    border-color: #a36cf0;
  }
#footercontainer{
    bottom: 0px;
    height:100px;
    background-color: purple; 
}

#smallcircles{
    border-radius: 50px;
    background-color: white;
    margin: 0 2% 1% 0; 
    float: left;
	display: block;
    width:6.5%;
}

#welcome{
	width: 90%; /*width: 1000px;*/
	max-width: 1000px;
	margin: auto;
    border-style: solid 10px purple;
	
}

#works{
    background-color: purple;
    color: white;
    top: 0px; 
}

#works h1{
    color: white; 
    margin:0px
}

#chore tutorial{
}

#chorestutorial{
    width:45%;
    margin: auto 0px auto 0px;
    border-style: 3px solid purple; 
    

}
